.body{
  position: relative;
  
}

.closing-button{
  position: absolute;
  right: 10px;
  top: 10px;

  background-color: black;
  color: white;

  padding-left: 7px;
  padding-right: 7px;
  padding-top: 5px;
  padding-bottom: 5px;

  border-radius: 50%;
}