.title-text{
  color: black;
  font-size: 100px;
  font-weight: bold;
  padding-bottom: 5px;
  padding-top: 10px;
  margin-bottom: 15px;
  margin-top: 15px;
  text-align: center;
}

.promo-text{
  color: black;
  font-size: 50px;
  margin-top: 0px;
  margin-bottom: 20px;
  text-align: center;



}